@import url('./variables.css');

body {
  padding: 0;
  margin: 0;
  /* min-height: 100vh; */
  color: var(--text-color);
}

main {
  /* min-height: 'inherit'; */
  color: rgb(23, 195, 7);
  margin: 0;
  padding: 0;
}